.home{

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.home p{
    background-color: rgba(0,0,0,.4);
    color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;
    text-align: center;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,.9);


    font-family: "Cormorant Garamond - SemiBold";
    font-size: 1.5rem;

    width: 50%;
    padding: 50px;
    border-radius: 30px;
}

@media (orientation: portrait){
    .home p{
        box-sizing: border-box;
        width: 80vw;

        font-size: 2.5rem;
    }
}