.menu{ 
    background-color: rgba(0,0,0,.4);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,.9);
    color: rgba(255, 255, 255, 1);

    font-family: "Cormorant Garamond - SemiBold";
    font-size: 1.5rem;

    padding: 50px;
    padding-top: 40px;
    border-radius: 30px;

    margin: 75px;

    width: 50%;
}

.menu * {
    margin: 0;
    padding: 0;
}

.category {
    background-color: rgba(187, 212, 216, .97);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.category h1{
    color: rgba(0,0,0,1);
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 15px;


}

.menu-items{
    border-bottom-right-radius: 10px;
    border-top: 2px solid rgb(126, 166, 172);
    background-color: rgba(255, 255, 255, .8);
    color: rgba(0,0,0,1);

    padding: 25px;
}

.menu-item{
    display: grid;
    grid-template-columns: 1fr 75px;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    
}

.menu-item h2{
    align-self: end;
}

.menu-item p{
    align-self: start;
}

.menu-item p:last-child{
    justify-self: end;
}

.category:last-child .menu-item{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.menu-item h2{
    font-size: 1.75rem;
    grid-area: 1 / 1 / 2 / 3;

}

.menu-item p{
    font-size: 1.25rem;
}
